body {
  background: #000;
  color: #fff;
  font: 100%/1 arial, helvetica, sans-serif;
  margin-top: 0; }

a {
  text-decoration: none;
  display: block;
  font-weight: bold;
  border: none; }

h1 {
  text-align: center;
  display: none; }

ul#projectsmenu {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding-left: 0;
  border-bottom-right-radius: 2px;
  box-shadow: 4px 4px 2px;
  color: rgba(0, 0, 0, 0.5); }
  ul#projectsmenu li {
    list-style: none;
    float: none;
    text-align: center;
    font-family: verdana;
    border-bottom: 1px solid rgba(196, 196, 196, 0.7);
    cursor: pointer;
    font-weight: bold; }
    ul#projectsmenu li a {
      color: #ccc; }
      ul#projectsmenu li a:hover {
        background-color: rgba(255, 255, 255, 0.5);
        color: #000; }
    ul#projectsmenu li.sel {
      margin-right: .5em;
      color: yellow;
      border: 0; }
    ul#projectsmenu li.sel, ul#projectsmenu li a {
      padding: 0 0 0 0; }
    ul#projectsmenu li:last-child {
      border: 0; }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  text-indent: -9999px;
  bottom: 10px;
  right: 1%;
  background: url("../img/icon_top.png") center center no-repeat;
  z-index: 2; }

.hide {
  display: none; }

.topichidden {
  display: none;
  color: red; }

div.topicrow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em; }
  div.topicrow div {
    width: 33%;
    background: rgba(255, 0, 50, 0.2);
    /* Purple */
    /* Sub topic text */ }
    div.topicrow div div:first-child {
      /* previous h2 */
      border-radius: .4em;
      background: maroon;
      color: #fff;
      text-align: center;
      font-size: 1.3em; }
      div.topicrow div div:first-child h2 {
        margin: 0;
        padding: 0;
        font: normal 1em "Helvetica Neue", Sans-Serif; }
      div.topicrow div div:first-child span {
        font-size: 1.3em;
        cursor: pointer; }
        div.topicrow div div:first-child span.current {
          color: yellow;
          cursor: default; }
      div.topicrow div div:first-child div {
        background: none; }
    div.topicrow div div.subtopic-container {
      position: relative;
      border: 1px solid black;
      background: rgba(255, 100, 200, 0.4);
      /* Purple */
      background: linear-gradient(rgba(255, 100, 200, 0.4), black);
      border-radius: .6em;
      box-shadow: 0px 1px yellow;
      width: 95%;
      margin: 1em auto 0 auto;
      padding: .4em 0; }
      div.topicrow div div.subtopic-container a {
        /* Subtopic */
        display: block;
        text-align: center;
        text-shadow: 1px 1px #006666;
        color: #339999;
        /* light blue */
        font-size: 1.3em; }
      div.topicrow div div.subtopic-container div {
        /* Sub topic dots */
        text-align: center;
        cursor: pointer;
        font-size: 1.5em;
        width: auto;
        background: none; }
        div.topicrow div div.subtopic-container div span.current {
          color: yellow;
          cursor: default; }
      div.topicrow div div.subtopic-container + p {
        /* Order by */
        font: bold .9em verdana;
        text-align: center;
        font-variant: small-caps; }
        div.topicrow div div.subtopic-container + p span {
          cursor: pointer; }
        div.topicrow div div.subtopic-container + p span.omoddate {
          color: yellow; }
    div.topicrow div div {
      width: auto;
      background: none; }
      div.topicrow div div ul {
        padding-left: 0; }
        div.topicrow div div ul ul {
          padding-left: 1.5em;
          list-style: square; }
      div.topicrow div div .articleoption {
        border: 1px solid #000;
        background-color: #fff;
        border-radius: .4em; }
        div.topicrow div div .articleoption a {
          background: rgba(20, 200, 20, 0.2) url(../img/reply.png) no-repeat;
          color: grey;
          cursor: pointer;
          padding: .5em .5em .5em 4em;
          border-radius: .3em; }
      div.topicrow div div li.article_li {
        list-style: none;
        position: relative;
        border-radius: .5em;
        margin-bottom: .5em;
        padding: .3em;
        background: rgba(200, 200, 200, 0.2); }
        div.topicrow div div li.article_li .moveright {
          right: 0;
          top: 0; }
        div.topicrow div div li.article_li a.mainarticle {
          padding: 0 23px 0 0;
          cursor: pointer;
          color: #ff8000;
          text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.8); }
          div.topicrow div div li.article_li a.mainarticle span.show {
            position: absolute;
            top: 1px;
            right: 1px; }
          div.topicrow div div li.article_li a.mainarticle span.highlighted {
            position: static;
            display: block;
            background: rgba(127, 127, 127, 0.5); }
        div.topicrow div div li.article_li a.mainarticle, div.topicrow div div li.article_li a.subbarticle {
          font: bold 1em verdana; }
        div.topicrow div div li.article_li a.mainarticle:hover, div.topicrow div div li.article_li a.subbarticle:hover {
          color: rgba(247, 162, 72, 0.8); }
        div.topicrow div div li.article_li a.subbarticle {
          cursor: pointer;
          color: rgba(247, 162, 72, 0.8); }
        div.topicrow div div li.article_li #articlediv {
          position: relative;
          /* So we can position an arrow to expand article width. */
          display: none;
          width: 100%;
          background: linear-gradient(#660033, rgba(102, 0, 51, 0.1)); }
          div.topicrow div div li.article_li #articlediv .chkdiv_pintonav {
            font-weight: bold;
            float: right; }
          div.topicrow div div li.article_li #articlediv .article_btns {
            position: absolute;
            right: 0;
            text-align: right;
            width: 100%;
            background: transparent;
            margin: 0 auto; }
            div.topicrow div div li.article_li #articlediv .article_btns input {
              background: rgba(255, 128, 0, 0.6);
              border-radius: .3em;
              border: 1px; }
            div.topicrow div div li.article_li #articlediv .article_btns .active {
              font-weight: bold;
              font-size: 1.3em; }
          div.topicrow div div li.article_li #articlediv div.divharteditform {
            text-align: left;
            font-size: 1em;
            margin-bottom: 2em;
            background: rgba(255, 100, 200, 0.4);
            padding: 1em;
            border-radius: .3em;
            border: none; }
            div.topicrow div div li.article_li #articlediv div.divharteditform input[type=text] {
              text-align: center;
              background-color: #ccc;
              font-weight: bold;
              border-top-left-radius: .3em;
              border-top-right-radius: .3em; }
            div.topicrow div div li.article_li #articlediv div.divharteditform .tinymce {
              font-size: 1.5em; }
            div.topicrow div div li.article_li #articlediv div.divharteditform select {
              font-size: 80%; }
            div.topicrow div div li.article_li #articlediv div.divharteditform .groupoptions a {
              display: inline;
              background-color: blue;
              color: #fff; }
            div.topicrow div div li.article_li #articlediv div.divharteditform input[name=helptitle] {
              width: 100%;
              border: none; }
          div.topicrow div div li.article_li #articlediv div.divartcontent {
            font-size: 1em;
            text-align: left;
            margin-bottom: .5em;
            background: #ff64c8;
            background: #cc0066;
            color: #000;
            padding: 1em;
            border-radius: .3em;
            border-bottom: 2px solid #ccc; }
            div.topicrow div div li.article_li #articlediv div.divartcontent div:nth-child(2) {
              padding-bottom: .3em;
              border-bottom: 1px solid yellow;
              text-align: left; }
            div.topicrow div div li.article_li #articlediv div.divartcontent div > em {
              color: yellow;
              font-weight: bold; }
            div.topicrow div div li.article_li #articlediv div.divartcontent a {
              display: inline;
              border-bottom: 1px dotted #000; }
            div.topicrow div div li.article_li #articlediv div.divartcontent ul {
              margin-top: 1em;
              padding-left: 1em; }
            div.topicrow div div li.article_li #articlediv div.divartcontent li {
              margin-bottom: .5em;
              padding-left: 0; }
            div.topicrow div div li.article_li #articlediv div.divartcontent ul li {
              margin-bottom: .3em;
              list-style-type: square; }
            div.topicrow div div li.article_li #articlediv div.divartcontent ul.articleoptions {
              position: absolute;
              top: 0;
              right: 1em; }
              div.topicrow div div li.article_li #articlediv div.divartcontent ul.articleoptions li {
                list-style: none;
                display: inline;
                cursor: pointer;
                color: #fff; }
            div.topicrow div div li.article_li #articlediv div.divartcontent .prepended {
              font-weight: bold; }
          div.topicrow div div li.article_li #articlediv.togglewidth {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            overflow: auto;
            height: 100%;
            font-size: 200%;
            z-index: 3;
            margin: 0;
            background: rgba(128, 128, 128, 0.5); }
            div.topicrow div div li.article_li #articlediv.togglewidth .divartcontent {
              margin-bottom: 0;
              padding-top: .5em;
              border-radius: 0;
              box-shadow: 0 5px 10px 5px; }
            div.topicrow div div li.article_li #articlediv.togglewidth img {
              width: 32px; }
            div.topicrow div div li.article_li #articlediv.togglewidth .divartcontent div:nth-child(2) {
              text-align: center; }
        div.topicrow div div li.article_li li ul #articlediv {
          margin-left: -1em;
          width: 104%; }
      div.topicrow div div a.reply {
        /* Main article reply. */
        text-transform: uppercase;
        letter-spacing: .4em;
        padding-left: 3em; }
      div.topicrow div div .newarticle a {
        /* New article. */
        background: rgba(20, 20, 20, 0.2) url(../img/reply.png) no-repeat;
        color: green;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .4em;
        padding-left: 3em; }
    div.topicrow div a.newsubtopic {
      /* New subtopic */
      background: rgba(20, 20, 20, 0.2) url(../img/reply.png) no-repeat;
      color: red;
      padding: .5em;
      text-align: center;
      border-radius: .3em;
      text-transform: uppercase;
      letter-spacing: .4em;
      width: 80%;
      margin: 0 auto; }
  div.topicrow div.sep {
    width: .5%; }

.jquerytooltip {
  background: maroon !important;
  padding: .3em !important;
  color: white !important;
  border-radius: 10px !important;
  font: .8em "Helvetica Neue", Sans-Serif !important;
  box-shadow: 0 0 7px black !important; }

.jquerytooltip2 {
  background: linear-gradient(rgba(255, 100, 200, 0.4), black) !important;
  padding: .3em !important;
  color: white !important;
  border-radius: 10px !important;
  font: .8em "Helvetica Neue", Sans-Serif !important;
  box-shadow: 0 0 7px black !important; }

.aposter, .rposter {
  font-style: italic; }

#articlecontent222 {
  position: absolute;
  display: none; }

.defaultSkin2 table.mceLayout {
  border: none; }

div.logout a {
  position: absolute;
  right: 5px;
  top: 0;
  text-align: center;
  border: 2px solid purple;
  border-radius: .3em;
  padding: .3em;
  width: 5em;
  float: right;
  color: purple;
  font-style: italic; }
div.logout a:hover {
  background: purple;
  color: white; }

a.btnNav {
  position: absolute;
  right: 200px;
  top: 0;
  color: #fff; }

div.divnav {
  background: rgba(255, 0, 0, 0.5);
  width: 50%;
  margin: 0 auto 10px auto;
  color: #fff; }
  div.divnav table {
    border-collapse: collapse;
    width: 100%; }
    div.divnav table caption {
      text-align: center;
      background: rgba(255, 0, 0, 0.5);
      color: #fff;
      display: none; }
    div.divnav table td {
      text-align: center;
      border: 0px solid #fff;
      vertical-align: top; }
      div.divnav table td a {
        display: block;
        color: #fff;
        padding: .3em;
        border-radius: .3em; }
      div.divnav table td a:hover {
        background: #f00;
        text-align: center; }
  div.divnav form#searchform {
    margin: 0 auto; }
  div.divnav ul.content {
    list-style-type: square;
    text-align: left; }
    div.divnav ul.content li {
      cursor: default; }
    div.divnav ul.content li:hover {
      color: cyan; }
  div.divnav .nav-subtopics {
    text-align: left; }
  div.divnav .nav-subtopics, div.divnav label {
    font-size: .8em; }
  div.divnav label {
    font-weight: bold; }
  div.divnav .divshowtopics {
    float: right;
    background: #c00;
    padding: 0 10px 0 10px;
    border-top-right-radius: .3em;
    border-bottom-left-radius: .3em; }

/*# sourceMappingURL=styles.css.map */
